@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(241, 241, 241);
}

/* Responsive padding for different screen sizes */
@media (min-width: 1920px) {
    body {
        padding: 0 15rem;
    }
}

@media (min-width: 1440px) {
    body {
        padding: 0 10rem;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    body {
        padding: 0 5rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    body {
        padding: 0 3rem;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    body {
        padding: 0 2rem;
    }
}

@media (max-width: 479px) {
    body {
        padding: 0 1rem;
    }
}